<div id="article-wrapper">
  <div id="article-content">
    <h2>
      <strong><%= @article.title %></strong>
    </h2>

    <p>
      <%= @article.text %>
    </p>

    <br>
    <%= link_to 'Editar', edit_article_path(@article), class: "botonazo" %>
  </div>

  <hr>

  <div id="article-comments">
    <h4>Comentarios</h4>
    <%= render @article.comments %>

    <% if !@article.comments.any? %>
    <p id="no-comments">* No hay comentarios :(</p>
    <% end %>

    <%= render 'comments/form' %>
  </div>

  <%= link_to 'Articulos', articles_path %>
</div>